* {
  margin: 0;
  padding: 0;
}


body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  background-image: url(../images/DSC100586334.png);
  background-size: cover;
  background-repeat: no-repeat;
}


.titolo {
  display: flex;
  justify-content: center;
  margin:auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.startWrap {
  display: flex;
  justify-content: center;
  margin:auto;
  margin-bottom: 20px;
}

.timewrap {
  display: flex;
  justify-content: center;
  margin:auto;
  width: 500px;
  margin-bottom: 20px;
}

.formwrap {
  display: flex;
  justify-content: center;
  margin-right: 200px;
  margin-left: 200px;  
}

.donewrap1 {
  display: flex;
  justify-content: center;
  margin:50px;
}

.radiobtn {
  margin-left: 20px;
}

.question {
  color: lightgray;
  font-family: 'Gaegu', cursive;
}

h1 {
  text-align: center;
  font-family: 'Bangers', cursive;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 20px;
}

h3 {
  font-family:'Bangers', cursive;
  color: white;
}

h2 {
  font-family:'Bangers', cursive;
}

label {
  color: lightgray;
  font-family: 'Coming Soon', cursive;
}

.textresults {
  color: white; 
}

#div1 {
  display: none;
}

#startDiv {
  display: block;
}

#resultsPage {
  display: none;
}

#timeLeft {
  display: none;
}

.resultswrap {
  display: flex;
  justify-content: center;
}

.reloadbtn {
  width: 200px;
}






